/* POP-UP SECTION */
.pop-up,
.pop-up_type_add-post {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop-up__box,
.pop-up__box_type_add-post {
  width: 430px;
  height: 330px;
  background-color: white;
  margin: auto;
  padding: 36px;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
}

.pop-up__box-text,
.pop-up__title {
  font-family: "Inter";
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  margin: 0;
}

.pop-up__form,
.pop-up__form-type-add-post {
  font-family: "Inter";
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.pop-up__form-input,
.pop-up__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding-bottom: 12px;
}

.pop-up__input_type_title,
.pop-up__form-input-name {
  margin: 30px 0;
}

.pop-up__input_type_link,
.pop-up__form-input-info {
  margin: 0 0 48px 0;
}

.pop-up__form-button,
.pop-up__button_type_add-post {
  width: 358px;
  height: 50px;
  border-radius: 2px 0px 0px 0px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: rgba(196, 196, 196, 1);
}

.pop-up__form-button_active,
.pop-up__button_type_add-post_active {
  background-color: black;
  transition: background-color 0.3s ease-in-out;
}

.pop-up__form-button_active:hover,
.pop-up__button_type_add-post_active:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.pop-up__close-button,
.pop-up__close-button_type_add-post {
  position: absolute;
  top: -40px;
  right: -40px;
  height: 30px;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
}

.pop-up__close-button:hover,
.pop-up__close-button_type_add-post:hover {
  filter: opacity(50%);
}

.disable {
  display: none;
}

/* Media Queries */
@media (max-width: 600px) {
  .pop-up__box,
  .pop-up__box_type_add-post {
    width: 80%;
    height: 320px;
  }

  .pop-up__form-button,
  .pop-up__button_type_add-post {
    width: 100%;
    height: 50px;
  }

  .pop-up__close-button,
  .pop-up__close-button_type_add-post {
    top: -40px;
    right: -10px;
  }
}

@media (max-width: 400px) {
  .pop-up__box,
  .pop-up__box_type_add-post {
    padding: 15px;
  }
}
